# A NAMESPACE is strictly required by R 2.14 or higher.
# Export everything
import(AnnotationDbi)
import(utils)
import(affyio)
import(affy)
import(tidyr)
import(dplyr)
import(XML)
export(get_scandate)
export(get_prenorm)
export(celfiles_getdata)
export(process_prenorm)
export(connect_annotator)
export(get_annotator_table)
export(get_plate_od)
export(get_tables_info_from_database)
export(get_db_table)
export(run_go_enrichment)
